EMAIL_BACKEND="string"
EMAIL_HOST="string"
EMAIL_PORT=integer
EMAIL_USE_TLS=boolean
EMAIL_HOST_USER="string"
EMAIL_HOST_PASSWORD="string"
================================
SECRET_KEY = "string"
DEBUG = boolean
SECURE_SSL_REDIRECT = boolean
ALLOWED_HOSTS = "string"
CORS_ORIGIN_WHITELIST = "string"
================================
database_engine = "string"
database_name = "string"
database_user = "string"
database_password = "string"
database_host = "string"
database_port = integer
================================